<!-- Item -->
<li [ngClass]="{'completed': item.done, 'editing':editing }"
    (dblclick)="editItem();">

  <div class="view">
    <input class="toggle"
           type="checkbox"
           [checked]="item.done"
           (change)="onChange(item)"
           (click)="itemChecked.emit($event.target)"
           >

    <label>{{ item.title }}</label>

    <button (click)="list.removeItem(item)" class="destroy"></button>

  </div>

  <input class="edit"
         [value]="item.title"
         (keydown.enter)="updateItem($event.target.value)">

</li>
